@media (min-width:475px) {
    .container{
        max-width: 475px;
    }
    .api__section{
        grid-template-columns: 1fr 1fr ;
    }
}
@media (min-width:640px) {
    .container{
        max-width: 640px;
    }
    .api__section{
        grid-template-columns: 1fr 1fr ;
    }
}
@media (min-width:768px) {
    .container{
        max-width: 768px;
    }
    .navbar ul {
        width: 80%;
    }
}
@media (min-width:1024px) {
    .container{
        max-width: 1024px;
    }
}
@media (min-width:1280px) {
    .container{
        max-width: 1024px;
    }
}
@media (min-width:1536px) {
    .container{
        max-width: 1536px;
    }
}


.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.links{
    transition: color 0.7s;
}

.links:hover{
    color: var(--clr-strong);

}
